{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng Chi Tiết Hợp Đồng</title>
    <link href="{% static 'app/css/style2.css' %}" rel="stylesheet"/>
</head>

<body>
    <div class="container">
        <table>
            <tr>
                <th class="index">Mã hợp đồng</th>
                <td></td>
            </tr>
            <tr>
                <th class="index">Tên chủ nhà </th>
                <td></td>
            </tr>
            <tr>
                <th class="index">Tên khách hàng </th>
                <td></td>
            </tr>
            <tr>
                <th class="index">Tiền cọc</th>
                <td></td>
            </tr>
            <tr>
                <th class="index">Giá phòng</th>
                <td></td>
            </tr>
            <tr>
                <th class="index">Ngày kí</th>
                <td></td>
            </tr>
            <tr>
                <th class="index">Ngày kết thúc </th>
                <td></td>
            </tr>
            <tr>
                <th class="index">Mã phòng thuê</th>
                <td></td>
            </tr>
        </table>
    </div>
</body>

</html>