{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link href="{% static 'app/css/datlichxemphong.css' %}" rel="stylesheet"/>   
</head>
<body>
    


 <h1>Đặt lịch xem phòng</h1>
 <p>Mã lịch xem: {{ malichxem }}</p>
 <p>Mã phòng: {{ phong.maphong }}</p>
 <label for="tenkh">Tên khách hàng:</label>
 <input type="text" id="tenkh" name="ten_kh_xem" value="{{ khachhang.ten_kh }}" required>
 <p>Giá: {{ phong.gia }}</p>
 <p>Địa chỉ phòng: {{ phong.diachi }}</p>
 <label for="email_kh">email_kh:</label>
 <input type="text" id="email_kh" name="email_kh" value="{{ khachhang.email_kh }}" required>
 <label for="sdt_kh">sdt_kh:</label>
 <input type="text" id="sdt_kh" name="sdt_kh" value="{{ khachhang.sdt_kh }}" required>
 <form method="POST" action="{% url 'luulichxemphong' ma_kh=khachhang.ma_kh ma_phong=phong.maphong %}">
   {% csrf_token %}
   <label for="tgxem">Thời gian xem:</label>
   <input type="datetime-local" id="thoigianxem" name="thoigianxem" required>
   <button type="submit">Lưu</button>
 </form> 
</body>
</html>

 