<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bộ lọc</title>
    <style>
        body{
            border: 1px solid black;
        }
        button{
            font-size: 15px;
            background-color: rgb(148, 199, 231);
            color: aliceblue;
            border-color: aliceblue;
        }
        label{
            font-size: 15px;
        }
    </style>
    </head>
    <body>
    <div>
    <label>Tìm kiếm:</label>
    &nbsp;
    <input type="text" placeholder="Search your home"/>
    </div>
    <br>
    <div>
    <label>Loại nhà:&nbsp;</label>
    &nbsp;
    <select>
        <option>Nhà trọ</option>
        <option>Studio</option>
        <option>Phòng trọ</option>
    </select>
    </div>
    <br>
    <div>
    <label2>Gía: &emsp;&emsp;&ensp; </label2>
    <select>
        <option>Gía</option>
        <option>2,000,000 đến 3,000,000 </option>
        <option>3,000,000 đến 5,000,000 </option>
<option> 5,000,000 đến 10,000,000</option>
    </select>
    </div>
    <br>
    <div>
        <label3>Diện tích: </label3>
        <select>
            <option>M^2</option>
            <option>10m^2 đến 20m^2</option>
            <option>20m^2 đến 30m^2</option>
            <option>30m^2 đến 50m^2</option>
            <option>trên 50m^2</option>
        </select>
    </div>
    <br>
    <button>Tìm kiếm</button>
    </html>
    